<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="car" scope="singleton" class="com.ljq.mydemo.spring.bean.CarFactoryBean">
        <property name="carInfo" value="180,QQ飞车,8888"></property>
    </bean>
</beans>